.ball {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #c49e9e;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}
